# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Paris
# UNIX PUID and PGID, find with: id $USER
PUID=998
PGID=998
# The directory where data and configuration will be stored.
CONFIG=/media/docker/config
DATA=/media/docker/media
# Domain name
DOMAIN=blackcosmos.fr