# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Paris

# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000

# The directory where data and configuration will be stored.
CONFIG=./config
DATA=./data

# Domain name
DOMAIN=example.com

# Plex
PLEX_TOKEN=claim-plex-token

# VPN Auth
VPN_AUTH=username;password
